# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Rapture is me
email:
description: >- # this means to ignore newlines until "baseurl:"
  Rapture is me.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://raptureis.me" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.21.0"
minimal_mistakes_skin: "dark"
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji

include:
  - _pages
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Author info and sidebar
logo: "/assets/img/ocean.png"
author:
  name: "Welcome to Rapture!"
  bio: "These are some random stuff I wrote since I was a kid. Please cooperate and don't read them. But do check out some more serious stuff below &darr;"
  links:
    - label: "Noob Coding"
      icon: "fas fa-heart custom-red"
      url: "https://www.noobcoding.com"

# Site Footer
footer:
  links:
    - label: "My GitHub"
      icon: "fab fa-fw fa-github custom-white"
      url: "https://github.com/oceanlau"

# Outputting
permalink: /posts/:title/
paginate: 15
paginate_path: /_pages/page:num/

# Other pages
tag_archive:
  type: liquid
  path: /tags/

# For posts
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      show_date: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

# For Google Analyitcs
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-164859401-2"
    anonymize_ip: false # default
